# Contains all node packages. Install with 'npm ci'
node_modules/

# Contains testing tools and database information
src/util/developer/

# Contains API tokens, server IDs, channel IDs and webhook information
.env